@model M1_G1_Admin.Models.Platos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Platos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.es_bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.es_bebida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="plato_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
