@model M1_G1_Admin.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .container {
            margin-top: 50px;
        }

        .delete-container {
            background-color: #333;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .row dt {
            font-weight: bold;
        }

        .row dd {
            margin-left: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="delete-container">
                    <h1 class="text-center mb-4">Eliminar Empleado</h1>
                    <div>
                        <h4>Empleado</h4>
                        <hr />
                        <!-- Primera fila -->
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.nombre)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.nombre)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.dui)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.dui)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.fecha_nacimiento)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.fecha_nacimiento)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.telefono)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.telefono)</dd>
                                </dl>
                            </div>

                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.direccion)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.direccion)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.telefono_referencia)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.telefono_referencia)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.cargo_id)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.cargo_id)</dd>

                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.disponible)</dt>
                                    <td>@(Model.disponible ? "Activo" : "Despedido")</td>
                                </dl>
                            </div>
                        </div>

                        <!-- Segunda fila -->
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.salario)</dt>
                                    <dd class="col-sm-8">@Html.DisplayFor(model => model.salario)</dd>
                                </dl>
                            </div>

                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.fecha_contratacion)</dt>
                                    <dd col-sm-8">@Html.DisplayFor(model => model.fecha_contratacion)</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoF" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+cg6Lvb3cbv9/9Wraf61zZMLJmCCMwp5Pb+iqOvya2lsF9b7hCiN5Xr6jJ" crossorigin="anonymous"></script>
</body>
</html>
